APP_ENV="development"

RAPID_API_KEY="0d064164ffmsh20d...."
RAPID_API_HOST="jsearch.p.rapidapi.com"
LINKEDIN_RAPID_API_HOST="linkedin-job-search-api.p.rapidapi.com"

OPENAI_MODEL="gpt-5.4-nano"
OPENAI_API_KEY="sk-proj-sgZZ5....."

DATABASE_URL="postgresql+asyncpg://[YOUR_DB_HOST]:[YOUR_DB_PASSOWRD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/[YOUR_DB_NAME]"

REDIS_URL="redis://172.17...:6379/0"
SUPABASE_URL="https://eiwrnae.....supabase.co"

AWS_REGION="ap-southeast-1"
AWS_PROFILE="aws_profile"
AWS_S3_BUCKET_NAME="joblyai-bucket"


CELERY_BROKER_URL="redis://172.17...:6379/1"
CELERY_BACKEND_URL="redis://172.17...:6379/2"

FIRECRAWL_API_KEY="fc-e68ed581c6c...."

# SPEECH AI API's
DEEPGRAM_API_KEY="3205a03e41d19...."
ELEVENLABS_API_KEY="sk_90753a39a...."