version: "3"
services:
  app:
    image: johnkristan/joblyai:latest
    container_name: joblyai
    restart: always
    ports:
      - "80:80"
    depends_on:
      - redis-server

  redis-server:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
