version: "3"
services:
  app:
    image: johnkristan/joblyai:latest
    container_name: joblyai
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - redis-server
    volumes:
      - .:/app

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60

  redis-server:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
