name: FastAPI CI/CD

on:
  push:
    branches: [main]

env:
  ECR_REPOSITORY: fastapi-app
  AWS_REGION: ap-southeast-1

jobs:
  ci:
    runs-on: ubuntu-latest

  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build, tag, and push image to Docker Hub
        run: |
          IMAGE_TAG='latest'
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/joblyai

          docker build -t $IMAGE_NAME:$IMAGE_TAG .
          docker push $IMAGE_NAME:$IMAGE_TAG
